.container {
    border: 2px solid salmon;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

.box {
    border: 2px dashed tomato;
    width: 50px;
    height: 50px;
}

/* for form.html */
.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    
}

.navbar a{
    text-decoration: none;
}

.nav-items a{
    font-size: 22px;
    text-decoration: none;
    
}